[submodule "deps/raygui"]
	path = deps/raygui
	url = https://github.com/raysan5/raygui
[submodule "deps/raylib"]
	path = deps/raylib
	url = https://github.com/raysan5/raylib
[submodule "deps/fluidsynth"]
	path = deps/fluidsynth
	url = https://github.com/FluidSynth/fluidsynth
[submodule "deps/scl"]
	path = deps/scl
	url = https://github.com/WizardCarter/simple-config-library
